name: CI-CD Pipeline

"on":
  push:
    branches:
      - main
  pull_request:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: echo "Build OK"

      - name: Test
        run: echo "Tests OK"

      - name: Deploy
        run: echo "Deployment done"
